<!-- <div class="wrapper" *ngIf='isShow'>
  <div class="popup">
    <div mat-dialog-content class="popup__content">
      <h1 class="popup__title">Вы действительно хотите удалить {{data}}?</h1>
      <div mat-dialog-actions class="popup__controllers">
        <button mat-button class="popup__delete" (click)="remove()">Ok</button>
        <button mat-button class="popup__cancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div> -->

<h1 mat-dialog-title>Вы действительно хотите удалить {{data.listItem.name}}?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">No Thanks</button>
  <button mat-button (click)="remove()" cdkFocusInitial>Ok</button>
</div>