@import '../../../../common/mixins.scss';
@import '../../../../common/common.style.scss';

.wrapper{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.popup{
    position: fixed;
    width: 500px;
    height: 200px;
    border: $default-border-components;
    box-shadow: $default-box-shadow;
    background: #fff;
    @include element(content){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    @include element(controllers){
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    @include element(delete){
        @extend %default-button;
        width: 100px;
    }
    @include element(cancel){
        @extend %default-button;
        width: 100px;
    }
}
