<div class="new-course__wrapper">
  <div class="new-course__data-for-new-course">
    <label class="new-course__label" for="">Title*
      <input class="new-course__text" type="text">
    </label>
    <label class="new-course__label" for="">Description*
      <textarea rows="9" cols="40" class="new-course__text"></textarea>
    </label>
    <label class="new-course__label" for="">Date*
      <input class="new-course__text" type="date">
    </label>
    <label class="new-course__label" for="">Duration*
      <input class="new-course__text" type="text">
    </label>
    <label class="new-course__label" for="">Authors*
      <input class="new-course__text" type="text">
    </label>
    <label class="new-course__label" for="">Video*
      <input class="new-course__text" type="text">
    </label>
  </div>
  <div class="new-course__controllers">
    <button (click)="save()" class="new-course__button">Save</button>
    <button (click)="cancel()" class="new-course__button">Cancel</button>
  </div>
</div>