<header class="wrapper">
    <div class="courses-header">
        <div class="courses-header__logo" routerLink="courses-page">
            <img class="courses-header__logo-image" src="../../../assets/logo/logo.png" alt="logo" />
            <span class="courses-header__title">AGMP</span>
        </div>
        <div class="courses-header__login">
            <div>
                <span>{{login}}</span>
                <span (click)='logOut()' *ngIf='login'>Log Out</span>
                <span *ngIf='!login' [routerLink]="['/login']">Log In</span>
            </div>
        </div>
    </div>
</header>