<div></div>
<div class="new-course">
  <div class="new-course__wrapper" *ngIf="courseId else dataOfCourse">
    <div class="new-course__data-for-new-course">
      <label class="new-course__label" for="">Title*
        <input class="new-course__text" value="{{listItem.title}}" type="text">
      </label>
      <label class="new-course__label" for="">Description*
        <textarea rows="9" cols="40" value="{{listItem.description}}" class="new-course__text"></textarea>
      </label>
      <label class="new-course__label" for="">Date*
        <input class="new-course__text" value="{{listItem.startDate | datePipe}}" type="date">
      </label>
      <label class="new-course__label" for="">Duration*
        <input class="new-course__text" value="{{listItem.duration}}" type="text">
      </label>
      <label class="new-course__label" for="">Students*
        <input class="new-course__text" value="{{listItem.students}}" type="text">
      </label>
      <label class="new-course__label" for="">Video*
        <input class="new-course__text" value="{{listItem.video}}" type="text">
      </label>
    </div>
    <div class="new-course__controllers">
      <button class="new-course__button">Save</button>
      <button class="new-course__button">Cancel</button>
    </div>
  </div>

  <ng-template #dataOfCourse>
    <div class="new-course__wrapper">
      <div class="new-course__data-for-new-course">
        <label class="new-course__label" for="">Title*
          <input class="new-course__text" type="text">
        </label>
        <label class="new-course__label" for="">Description*
          <textarea rows="9" cols="40" class="new-course__text"></textarea>
        </label>
        <label class="new-course__label" for="">Date*
          <input class="new-course__text" type="date">
        </label>
        <label class="new-course__label" for="">Duration*
          <input class="new-course__text" type="text">
        </label>
        <label class="new-course__label" for="">Authors*
          <input class="new-course__text" type="text">
        </label>
        <label class="new-course__label" for="">Video*
          <input class="new-course__text" type="text">
        </label>
      </div>
      <div class="new-course__controllers">
        <button class="new-course__button">Save</button>
        <button class="new-course__button">Cancel</button>
      </div>
    </div>
  </ng-template>
</div>