@import '../../../../common/mixins.scss';
@import '../../../../common/common.style.scss';

.courses-list-item{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-top: 3px;
    border-radius: 10px;
    position: relative;
    @include element(edit){
        width: 30px;
    }
    @include element(delete){
        width: 30px;
    }
    @include element(video){
        width: 100px;
    }
    @include element(icon-wrapper){
        display: flex;
        justify-content: space-between;
    }
}
#video {
    width: 150px;
}
#title {
    width: 100px;
}
#students {
    width: 100px;
}
#start-date {
    width: 100px;
}
#duration {
    width: 100px;
}
#action {
    width: 100px;
}
.fav{
    position: absolute;
    top: 0;
    left: 0;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 30px;
    cursor: pointer;
    user-select:none;
}
.selected {
    color: #F4B30A;
    text-shadow: 0 0 1px #F48F0A;
  }