<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <app-header></app-header>
    <app-title></app-title>
    <div class="courses-content">
        <div class="courses-content__main">
            <app-courses-navigation></app-courses-navigation>
            <app-courses-list *ngFor="let item of coursesItems;" [listItem]=" item.listItem">
            </app-courses-list>
        </div>
        <div class="courses-content__history-bar"></div>
    </div>
</div>