@import '../../../../common/mixins.scss';
@import '../../../../common/common.style.scss';
.wrapper {
    width: 70%;
    padding: 0 40px 20px;
}
.courses {
    border: $default-border-components;
    border-radius: 15px;
    box-shadow: $courses-component-box-shadow;
}
.courses-list {
    border-bottom: $default-border-components;
    @include element('header') {
        @extend %default-font-size;
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;
        align-items: center;
    }
    @include element('title') {
        display: flex;
        justify-content: space-between;
        width: 70px;
    }
    @include element('icon') {
        height: 10px;
        width: 10px;
        border-left: 2px solid rgb(8, 8, 8);
        border-bottom: 2px solid rgb(8, 8, 8);
        transform: rotate(-45deg);
    }
    @include element('item') {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    @include element('button') {
        @extend %default-button;
    }
    @include element('quantity') {
        display: flex;
        align-items: center;
    }
    @include element('information-titles') {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }
    @include element('information-items') {
        width: 100px;
    }
}
#video {
    width: 150px;
}
/* #title {
    flex-grow: 2;
}
#video {
    flex-grow: 2.5;
}
#students {
    flex-grow: 1.5;
}
#start-date {
    flex-grow: 1.5;
}
#duration {
    flex-grow: 1.5;
}
#action {
    flex-grow: 0.5;
}
 */