<div class="wrapper">
    <div class="courses-list">
        <div class="coyrses-list__header">
            <div class="courses-list__title">
                <div class="courses-list__icon"></div>
                <span class="courses-list__text">Title</span>
            </div>
            <div class="courses-list__item">
                <span class="courses-list__quantity">Items: 3</span>
                <button type="button" class="courses-list__button">Add item</button>
            </div>
        </div>
    </div>
    <div></div>
</div>
