<form [formGroup]="courseInformation">
  <div class="new-course__data-for-new-course">
    <label class="new-course__label" for="">Title*
      <input class="new-course__text" formControlName="name" type="text">
    </label>
    <label class="new-course__label" for="">Description*
      <textarea rows="9" cols="40" formControlName="description" class="new-course__text"></textarea>
    </label>
    <label class="new-course__label" for="">Date*
      <input class="new-course__text" formControlName="date" type="date">
    </label>
    <label class="new-course__label" for="">Duration*
      <input class="new-course__text" formControlName="length" type="text">
    </label>
    <label class="new-course__label" for="">Authors*
      <ng-select class="select" [items]="authorsFromServer | async" [multiple]="true" bindLabel="name"
        placeholder="Select Author" [closeOnSelect]="false" [searchable]="false" formControlName="authors">
      </ng-select>
    </label>
  </div>
  <div class="new-course__controllers">
    <button type="button" (click)="saveListItem()" class="new-course__button">Save</button>
    <button type="button" (click)="cancel()" class="new-course__button">Cancel</button>
  </div>
</form>